body {
  background: url(images/banner-bg.jpg);
}

:root {
  --red: #c9160f;
  --gold: #bddb0f;
  --black: #444;
  --light-color: #666;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --border-hover: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.whalpapper {
  display: flex;
  justify-content: center;
}

.container {
  padding: 50px;
  margin-top: 80px;
  margin-bottom: 2px;
  border-radius: 10px;
  background-color: white;
  width: 300px;
  text-align: center;
}

img {
  width: 160px;
  display: flex;
  align-items: center;
  margin: auto;
  border-radius: 10px;
}

.product-name {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  opacity: 0.9;
  width: 90px;
}

.nameDescrition {
  position: relative;
  top: 0px;
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
}

.reserve-ja {
  padding: 15px;
  border: none;
  border-radius: 15px;
  background-color: var(--gold);
  position: relative;
  top: 20px;
}

#resp {
  position: relative;
  top: 10px;
}

#number {
  position: relative;
  top: 10px;
}
