/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #c70a13;
  --secundary-color: #e7bc44;
  --tertiary-color: #11110f;
  --quaternary-color: #ebe9e4;
  --shadow-color: #cccccc70;
  --text-color: #fff;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background-color: var(--tertiary-color);
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open {
  width: 250px;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .img {
  width: 30px;
  margin-right: 5px;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  /* opacity: 0; */
  display: none;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .img,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
  display: block;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background-color: var(--shadow-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background-color: var(--tertiary-color);
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background-color: var(--tertiary-color);
  color: #fff;
}
.sidebar.open .bx-search:hover {
  background-color: var(--tertiary-color);
  color: #fff;
}
.sidebar .bx-search:hover {
  background-color: var(--quaternary-color);
  color: #11101d;
}
.sidebar li button {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  border: none;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background-color: var(--tertiary-color);
}

.sidebar li button:hover {
  background-color: var(--quaternary-color);
}
.sidebar li button .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li button .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li button:hover .links_name,
.sidebar li button:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}

.sidebar li #btnActive i {
  background-color: var(--quaternary-color);
  color: black;
}

.sidebar.open li #btnActive {
  background-color: var(--quaternary-color);
}

.sidebar.open li #btnActive .links_name {
  color: black;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background-color: var(--tertiary-color);
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile {
  width: 250px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--tertiary-color);
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}

.profile #log_out:hover {
  color: #5b5b5e;
  cursor: pointer;
}

.home-section {
  position: relative;
  background-color: #e4e9f7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}

.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}


.home-section .header-menu {
  background-color: var(--primary-color);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu a {
  cursor: pointer;
  text-decoration-line: none;
  position: relative;
  left: 15px;
}

.header-menu .logo-details {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}

.header-menu .logo-details:hover  {
  transform: translateX(-5px);
}

.header-menu .logo-details i {
  font-size: 20px;
  color: var(--quaternary-color);
  margin-right: 5px;
}

.header-menu .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.header-menu .div-profile-menu {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header-menu .div-profile-menu .img-perfil {
  width: 40px;
  border-radius: 6px;
}

.header-menu .div-profile-menu .tooltipProfile {
  background-color: var(--quaternary-color);
  width: 150px;
  padding: 15px;
  border-radius: 6px 0 6px 6px;
  box-shadow: 0 10px 20px -5px #5b5b5e;
  position: absolute;
  transform: translateX(-94px) translateY(60px);
  opacity: 0;
  display: none;
  cursor: default;
  transition: transform 1s, opacity 0.5s;
}

.header-menu .div-profile-menu li {
  list-style: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

.header-menu .div-profile-menu li:hover {
  box-shadow: inset 0px -5px 20px 0px rgba(156, 153, 153, 0.253) /*var(--shadow-color)*/;
}

.header-menu .div-profile-menu span {
  margin-left: 5px;
}

.div-users {
  display: none;
}

.div-msg {
  display: none;
}

.div-analytics {
  display: none;
}

.div-books {
  display: none;
}

.div-config {
  display: none;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin: 5vh auto;
  padding: 50px;
  box-shadow: 2px 2px 10px var(--shadow-color);
  gap: 20px;
  border-radius: 20px;
}

@media (max-width: 480px) {
  header {
    position: fixed;
    width: 100%;
  }
  .header-title {
    font-size: 1.5rem;
  }

  main {
    padding: 0;
    margin: 20px 0 0 0;
    width: 100%;
    box-shadow: none;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  opacity: 0;
  z-index: -1;
}

.modal.active {
  opacity: 1;
  z-index: 1;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50vw;
  margin: 15vh auto;
  padding-bottom: 20px;
  background-color: var(--quaternary-color);
  box-shadow: 1px 1px 10px black;
  border-radius: 10px;
}

.modal-div {
  display: flex;
  position: relative;
  justify-content: center;
  height: 40px;
  line-height: 40px;
  font-size: 1rem;
}

.modal-close {
  position: absolute;
  right: 0;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  border-radius: 0 20% 0 20%;
}

.modal-close:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.div-inserir-livro {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

input[type="file"] {
  display: none;
}

#input-inserir-livro {
  padding: 10px;
  border: 2px solid #11101d;
  border-radius: 6px;
  cursor: pointer;
}

.div-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}

#div-inserir-autor {
  display: flex;
  align-items: center;
}

#input-inserir-autor {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 50%;
}

#input-inserir-autor img {
  width: 42px;
  border-radius: 50%;
}

#input-inserir-autor #hover {
  position: absolute;
  opacity: 0;
  font-size: 10px;
  font-weight: 600;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

#input-inserir-autor #hover:hover {
  opacity: 1;
  position: absolute;
  font-size: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: var(--shadow-color);
  border-radius: 50%;
  transition: 0.3s ease;
}

#autor {
  width: 260px;
}

.modal-field {
  width: calc(50% - 10px);
  height: 40px;
  outline-style: none;
  border-style: none;
  box-shadow: 0 0 2px black;
  padding: 0 10px;
  font-size: 1rem;
}

.modal-field:focus {
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 3px var(--primary-color);
}

.modal-footer {
  background-color: inherit;
  text-align: right;
  padding: 0 20px;
}

@media (max-width: 480px) {
  .modal {
    top: 100%;
    transition: all 1s ease;
  }
  .modal.active {
    top: 0;
  }
  .modal-content {
    margin: 0;
    width: 100%;
    position: fixed;
  }
  .modal-field {
    width: 100%;
  }
}

.div-button {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.button {
  border-style: none;
  border-radius: 6px;
  height: 40px;
  padding: 6px 12px;
  background-color: var(--secundary-color);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: box-shadow 0.6s ease;
}

button.green {
  background-color: #13ce66;
}

button.red {
  background-color: #ff4949;
}

.button:hover {
  box-shadow: inset 200px 0 0 #00000055;
}

@media (max-width: 480px) {
  .button.mobile {
    color: transparent;
    font-size: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 90vh;
    left: 80vw;
  }
  .button.mobile::before {
    content: "+";
    color: black;
    font-size: 2rem;
    width: 100%;
    height: 100%;
  }
}

.records {
  width: 100%;
  user-select: none;
  text-align: left;
}

.records th {
  height: 50px;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}
.records td {
  height: 50px;
  overflow-x: hidden;
  padding-left: 20px;
}

.records th:last-child,
.records td:last-child {
  padding: 0;
  min-width: 140px;
  text-align: center;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.records th:first-child,
.records td:first-child {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.records tr:hover {
  background-color: var(--shadow-color);
}

@media (max-width: 480px) {
  .records {
    border-spacing: 5px;
  }
  .records thead {
    display: none;
  }
  .records tr {
    box-shadow: 0 1px 3px var(--shadow-color);
  }
  .records td:not(:first-child) {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .records td {
    margin: 10px 0;
  }

  .records tr:hover {
    background-color: var(--shadow-color);
  }
}
